{% extends 'note/base.html' %} {% load static %} {% block content %}

<div class="max-w-6xl mx-auto px-4 py-8">
  <!-- Header -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Your Notes</h1>

    <a
      href="{% url 'notes:notes_create' %}"
      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow"
    >
      + New Note
    </a>
  </div>
  {% if notes %}

  <!-- Notes Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for note in notes %}
    <div
      class="bg-white border border-gray-200 rounded-2xl shadow-sm hover:shadow-lg transition p-5"
    >
      <div class="w-64 max-h-48  ">
        <img
          src="{{ note.image.url }}"
          alt="{{ note.title }}"
          class="rounded-2xl object-cover shadow-md border border-gray-200"
        />
      </div>
      <!-- Title -->
      <h2 class="text-lg font-semibold text-gray-800 mb-2">{{ note.title }}</h2>

      <!-- Description -->
      <p class="text-gray-600 text-sm mb-4">
        {{ note.description|truncatechars:80 }}
      </p>

      <!-- Footer -->
      <div class="flex justify-between items-center text-xs text-gray-400">
        <span>{{ note.created_at|date:"Y/m/d" }}</span>

        <div class="space-x-2">
          <a
            href="{% url 'notes:notes_delete' note.id %}"
            class="text-red-500 hover:underline"
          >
            Delete
          </a>
          <a
            href="{% url 'notes:notes_detail' note.id %}"
            class="text-blue-500 hover:underline"
          >
            View
          </a>

          <a
            href="{% url 'notes:notes_edit' note.id %}"
            class="text-green-500 hover:underline"
          >
            Edit
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}

  <!-- Empty State -->
  <div class="text-center py-16">
    <p class="text-gray-500 text-lg">No notes found.</p>
    <a
      href="{% url 'notes:notes_create' %}"
      class="mt-4 inline-block bg-blue-500 text-white px-5 py-2 rounded-lg"
    >
      Create your first note
    </a>
  </div>

  {% endif %}
</div>

{% endblock %}
